---
import Base from '@layouts/Base.astro';
import Profile from '../../components/profile/Profile';
import { parse } from 'path';
import NormalLayout from "../../layouts/NormalLayout.astro";

const { id } = Astro.params;
---

<Base
  metadata={{
    title: 'Profile',
  }}
>
    <NormalLayout>
        <div>
            <Profile id={id} client:load />
        </div>
    </NormalLayout>
</Base>
