@tailwind base;
@tailwind components;
@tailwind utilities;


.fadeInAnimation {
    animation: fadeIn 0.5s ease-in-out;
}

.fadeOutAnimation {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-down {
    animation: animateDown 0.5s ease;
}

@keyframes animateDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);

    }
}

.animate-left-to-right {
    animation: animate-left-to-right 0.5s ease-in-out;
}

@keyframes animate-left-to-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Custom scrollbar for Webkit browsers */
.scrollbar-custom::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; /* Make track transparent */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #040436; /* Make thumb dark blue */
}

/* Custom scrollbar for Firefox */
.scrollbar-custom {
    scrollbar-width: thin; /* Set width */
    scrollbar-color: #040436 transparent; /* Set thumb and track color */
}

.card-shadow{
    box-shadow: 0px 6px 6px 0px rgba(60, 66, 206, 0.90);
}

