---
import Base from '@layouts/Base.astro';
import NormalLayout from "../../layouts/NormalLayout.astro";
import Home from "../../components/home/Home";
---

<Base
  metadata={{
    title: 'Home',
  }}
>
    <NormalLayout>
        <div>
            <Home client:only='react' />
        </div>
    </NormalLayout>
</Base>
