---
import Base from '@layouts/Base.astro';
import SignUp from '../../components/auth/old/signup/SignUp';
---

<Base
  metadata={{
    title: 'Sign Up',
    description: 'Create an account',
  }}
>
  <div class='flex justify-center min-h-full mb-20 bg-backgorund'>
    <SignUp client:load />
  </div>
</Base>
